{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "JobAdder API",
    "description": "# Authentication\r\n\r\nJobAdder uses OAuth 2.0's authorization code grant flow to issue access tokens on behalf of users;\r\n\r\n\r\n### 1. Redirect to the JobAdder authorization URL.\r\n\r\nYour application should redirect the user to the authorization URL\r\n\r\n```\r\nhttps://id.jobadder.com/connect/authorize\r\n```\r\n\r\nThe following query parameters should be passed with the GET request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| response_type | **code** (required) |\r\n| client_id     | issued when you created your application (required) |\r\n| scope         | permissions to request, see below (required) |\r\n| redirect_uri  | URL to redirect back to (required) | \r\n| state         | unique string to be passed back (optional) |\r\n\r\nThe **scope** parameter is a space-separated list of OAuth scopes indicating the desired access:\r\n\r\n| scope          | description |\r\n|----------------|-------------|\r\n| read           | Read/view JobAdder data |\r\n| write          | Modify/manage JobAdder data |\r\n| offline_access | Access JobAdder data for an extended period of time, must always be combined with other scopes |\r\n\r\nThe **redirect_uri** parameter must match one of the URLs specified when the client_id was issued.\r\n\r\nThe **state** parameter can be provided to carry through server-specific state. For example, you can use\r\nthis to help prevent forgery attacks.\r\n\r\nThe user will be presented with a login screen, and then a confirmation screen where they will grant your\r\napplication access to their JobAdder data.\r\n\r\n\r\n### 2. Receive an authorization code from JobAdder.\r\n\r\nAfter a successful login, the authorization server will redirect to the URL specified in step 1 passing \r\nthe following parameters passed with the GET request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| code          | a temporary authorization code | \r\n| state         | the unique string specified in step 1 |\r\n\r\nIf you passed a **state** parameter in step 1 then at this point you should compare the state parameter\r\nfrom this request with the state parameter from the request in step 1. If the states don't match then\r\nthe request may have been created by an unknown third party and you should abort the process.\r\n\r\nIf your request for access is denied by the user then the user will be redirected to the URL specified in step 1\r\nwith the following query parameters passed with the GET request:\r\n\r\n| parameter     | value         |\r\n|---------------|---------------|\r\n| error         | access_denied | \r\n\r\n\r\n### 3. Exchange the authorization code for an access token.\r\n\r\nThe authorization code received in step 2 will remain valid for 5 minutes and should be exchanged for an \r\naccess token. To do this, submit a POST request to the token URL:\r\n\r\n```\r\nhttps://id.jobadder.com/connect/token\r\n```\r\n\r\nThe following  parameters should be included in the POST request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| client_id     | issued when you created your application (required) |\r\n| client_secret | issued when you created your application (required) |\r\n| grant_type    | **authorization_code** (required) |\r\n| code          | the temporary authorization code received in step 2 (required) |\r\n| redirect_uri  | the URL specified in step 1 (required) |\r\n\r\nThis request will return a JSON response containing the access token, for example\r\n\r\n```json\r\n{\r\n  access_token: \"31ff7431b4c1dde02e386122702f5460\",\r\n  expires_in: 3600,\r\n  token_type: \"Bearer\",\r\n  refresh_token: \"e7672885d6da2db1e56d200dd292c801\",\r\n  api: \"https://api.jobadder.com/v2\"\r\n}\r\n```\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| access_token  | token to be used as the Bearer token in the Authorization header of all API requests |\r\n| expires_in    | expiration time of the access token in seconds since the response was generated |\r\n| refresh_token | token to be used to request new access tokens |\r\n| api           | The base URL to use for API access |\r\n\r\n\r\n### 4. Refresh Tokens\r\n\r\nThe access token has a limited lifetime (currently 60 minutes). \r\nIf your application requested the **offline_access** scope (in step 1) then it is possible to gain \r\nextended access to the user's data by requesting a new access token using the refresh token.\r\nTo do this, submit a POST request to the token URL:\r\n\r\n```\r\nhttps://id.jobadder.com/connect/token\r\n```\r\n\r\nThe following  parameters should be included in the POST request:\r\n\r\n| parameter     | description |\r\n|---------------|-------------|\r\n| client_id     | issued when you created your application (required) |\r\n| client_secret | issued when you created your application (required) |\r\n| grant_type    | **refresh_token** (required)                        |\r\n| refresh_token | the refresh token returned in step 3                |\r\n\r\nThis request will return a JSON response containing a new access token and request token.\r\n```json\r\n{\r\n  access_token: \"d2534958b2d3b9e3b0e16c98f91f0184\",\r\n  expires_in: 3600,\r\n  token_type: \"Bearer\",\r\n  refresh_token: \"e1b495fa69c9bdacbc7e5dd535d4564f\",\r\n  api: \"https://api.jobadder.com/v2\"\r\n}\r\n```\r\n\r\n\r\n"
  },
  "host": "api.jobadder.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/jobboards": {
      "get": {
        "tags": [
          "Job Board API:Job Boards"
        ],
        "summary": "Find job boards",
        "operationId": "FindJobBoards",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "query",
            "description": "Job Board Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job boards matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/JobBoardListModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Boards",
        "x-apiOrder": 1
      }
    },
    "/jobboards/{boardId}": {
      "get": {
        "tags": [
          "Job Board API:Job Boards"
        ],
        "summary": "Get a job board",
        "operationId": "GetJobBoard",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job board details",
            "schema": {
              "$ref": "#/definitions/JobBoardModel"
            }
          },
          "404": {
            "description": "Requested job board was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Boards",
        "x-apiOrder": 1
      }
    },
    "/jobboards/{boardId}/ads": {
      "get": {
        "tags": [
          "Job Board API:Job Ads"
        ],
        "summary": "Find job ads",
        "operationId": "FindJobBoardJobAds",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "portal.hotJob",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "portal.value",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "portal.valueId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "portal.template",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "postedAt",
            "in": "query",
            "description": "Search for job ads posted at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Search for job ads updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "expiresAt",
            "in": "query",
            "description": "Search for job ads expiring at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to include with the results.\r\nFields available to include are: <code>description</code>, <code>portal.fields</code>",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of job ads matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/JobBoardJobAdListModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 2
      }
    },
    "/jobboards/{boardId}/ads/{adId}": {
      "get": {
        "tags": [
          "Job Board API:Job Ads"
        ],
        "summary": "Get a job ad",
        "operationId": "GetJobBoardJobAd",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job ad details",
            "schema": {
              "$ref": "#/definitions/JobBoardJobAdModel"
            }
          },
          "404": {
            "description": "Requested job ad was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 2
      }
    },
    "/jobboards/{boardId}/ads/{adId}/applications": {
      "post": {
        "tags": [
          "Job Board API:Job Applications"
        ],
        "summary": "Submit a job application",
        "operationId": "SubmitJobBoardJobApplication",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Job Board Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adId",
            "in": "path",
            "description": "Job Ad Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitJobApplicationCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job application attachment links",
            "schema": {
              "$ref": "#/definitions/SubmittedJobApplicationModel"
            }
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_jobapplication",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Applications",
        "x-apiOrder": 3
      }
    },
    "/jobboards/{boardId}/ads/{adId}/applications/{applicationId}/{attachmentType}": {
      "post": {
        "tags": [
          "Job Board API:Job Applications"
        ],
        "summary": "Submit job application documents",
        "description": "Add a resume, cover letter or related document to a previously submitted job application.<br />\r\nDocuments can be added for a duration of 5 minutes after submitting the job application.",
        "operationId": "AttachJobBoardJobApplicationDocument",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "Job Board Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "adId",
            "in": "path",
            "description": "Job Ad Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "Job Application Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "attachmentType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "Resume",
              "FormattedResume",
              "CoverLetter",
              "Screening",
              "Check",
              "Reference",
              "License",
              "Other"
            ]
          },
          {
            "name": "fileData",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_jobapplication",
              "partner_jobboard"
            ]
          }
        ],
        "x-apiName": "Job Board API",
        "x-apiGroup": "Job Applications",
        "x-apiOrder": 3
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Job API:Jobs"
        ],
        "summary": "Find jobs",
        "operationId": "FindJobOrders",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "description": "Job Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "jobTitle",
            "in": "query",
            "description": "Job title",
            "required": false,
            "type": "string"
          },
          {
            "name": "company.companyId",
            "in": "query",
            "description": "Companies by Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "company.name",
            "in": "query",
            "description": "Company name",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Alias for company.companyId",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Contact Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.actionId",
            "in": "query",
            "description": "Unique identifier for partner actions",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.reference",
            "in": "query",
            "description": "Partner supplied unique reference for the action",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.stage",
            "in": "query",
            "description": "Include partner actions at a specific stage",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Submitted",
                "InProgress",
                "Completed",
                "Rejected",
                "Cancelled"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "partnerAction.submittedAt",
            "in": "query",
            "description": "Search for entities submitted to an action at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statusId",
            "in": "query",
            "description": "Job status",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Search for active/open jobs",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "userFavourite",
            "in": "query",
            "description": "Search for the user's favourite jobs",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User Id - search for jobs by owner or associated recruiter",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ownerUserId",
            "in": "query",
            "description": "User Id - search for jobs by owner",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "recruiterUserId",
            "in": "query",
            "description": "User Id - search jobs by associated recruiters",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "User Id - search for jobs created by the specified user(s)",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Search for jobs created at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "updatedBy",
            "in": "query",
            "description": "User Id - search for jobs last updated by the specified user(s)",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Search for jobs updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "closedBy",
            "in": "query",
            "description": "User Id - search for jobs last closed by the specified user(s)",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "closedAt",
            "in": "query",
            "description": "Search for jobs closed at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results by one or multiple fields, prefix with \"-\" to sort descending.<br />\r\nFields available for sorting are: jobTitle, status.name, createdAt, updatedAt, closedAt",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to include with the results.\r\nFields available to include are: recruiters, statistics, partnerActions",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/JobOrderListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Jobs",
        "x-apiOrder": 1
      },
      "post": {
        "tags": [
          "Job API:Jobs"
        ],
        "summary": "Add a job",
        "operationId": "AddJobOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddJobOrderCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobOrderRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Jobs",
        "x-apiOrder": 1
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Job API:Jobs"
        ],
        "summary": "Get a job",
        "operationId": "GetJobOrder",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job details",
            "schema": {
              "$ref": "#/definitions/JobOrderRepresentation"
            }
          },
          "404": {
            "description": "Requested job was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Jobs",
        "x-apiOrder": 1
      },
      "put": {
        "tags": [
          "Job API:Jobs"
        ],
        "summary": "Update a job",
        "operationId": "UpdateJobOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobOrderCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job was successfully updated"
          },
          "404": {
            "description": "Job was not found"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Jobs",
        "x-apiOrder": 1
      }
    },
    "/jobs/{jobId}/applications": {
      "get": {
        "tags": [
          "Job API:Job Applications"
        ],
        "summary": "Get job applications",
        "operationId": "GetJobOrderJobApplications",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />Setting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications for the specified job",
            "schema": {
              "$ref": "#/definitions/JobApplicationListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobapplication"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Job Applications",
        "x-apiOrder": 10
      },
      "post": {
        "tags": [
          "Job API:Job Applications"
        ],
        "summary": "Add candidates to a job",
        "operationId": "AddJobOrderCandidates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddJobOrderCandidateCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobApplicationListRepresentation"
            }
          },
          "409": {
            "description": "Candidate already exists",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_jobapplication"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Job Applications",
        "x-apiOrder": 10
      }
    },
    "/jobs/{jobId}/applications/active": {
      "get": {
        "tags": [
          "Job API:Job Applications"
        ],
        "summary": "Get active job applications",
        "operationId": "GetJobOrderActiveJobApplications",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />Setting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active applications for the specified job",
            "schema": {
              "$ref": "#/definitions/JobApplicationListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobapplication"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Job Applications",
        "x-apiOrder": 10
      }
    },
    "/jobs/{jobId}/attachments": {
      "get": {
        "tags": [
          "Job API:Attachments"
        ],
        "summary": "Find attachments",
        "operationId": "FindJobOrderAttachments",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Attachment types to include",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Other",
                "JobDescription"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "latest",
            "in": "query",
            "description": "Find the latest version of each attachment type",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of job attachments matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/JobOrderAttachmentListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 20
      }
    },
    "/jobs/{jobId}/attachments/{attach}": {
      "get": {
        "tags": [
          "Job API:Attachments"
        ],
        "summary": "Get an attachment",
        "description": "Get a job attachment.<br />Setting the Accept header will attempt a file conversion.",
        "operationId": "GetJobOrderAttachment",
        "consumes": [],
        "produces": [
          "application/octet-stream",
          "application/pdf",
          "text/html",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attach",
            "in": "path",
            "description": "Attachment Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job attachment",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Requested job attachment was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 20
      },
      "put": {
        "tags": [
          "Job API:Attachments"
        ],
        "summary": "Update attachment details",
        "operationId": "UpdateJobOrderAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attach",
            "in": "path",
            "description": "Attachment Id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "command",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobOrderAttachmentCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "404": {
            "description": "Attachment was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 20
      },
      "post": {
        "tags": [
          "Job API:Attachments"
        ],
        "summary": "Add a single attachment",
        "operationId": "AddJobOrderAttachment",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attach",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "Other",
              "JobDescription"
            ]
          },
          {
            "name": "fileData",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Job was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 20
      }
    },
    "/jobs/{jobId}/submissions": {
      "get": {
        "tags": [
          "Job API:Submissions"
        ],
        "summary": "Get all submissions",
        "operationId": "GetJobOrderSubmissions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidate submissions for the requested job",
            "schema": {
              "$ref": "#/definitions/SubmissionListRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Submissions",
        "x-apiOrder": 20
      }
    },
    "/jobs/{jobId}/placements": {
      "get": {
        "tags": [
          "Job API:Placements"
        ],
        "summary": "Get all placements",
        "operationId": "GetJobOrderPlacements",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of placements for the specified job",
            "schema": {
              "$ref": "#/definitions/PlacementListRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Placements",
        "x-apiOrder": 30
      }
    },
    "/jobs/{jobId}/placements/approved": {
      "get": {
        "tags": [
          "Job API:Placements"
        ],
        "summary": "Get approved placements",
        "operationId": "GetJobOrderApprovedPlacements",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of approved placements for the specified job",
            "schema": {
              "$ref": "#/definitions/PlacementListRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Placements",
        "x-apiOrder": 30
      }
    },
    "/jobs/{jobId}/status": {
      "put": {
        "tags": [
          "Job API:Jobs"
        ],
        "summary": "Set a job status",
        "description": "Change the job status and add an optional note",
        "operationId": "PutJobOrderStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetJobOrderStatusCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status was successfully updated"
          },
          "202": {
            "description": "Job status already assigned"
          },
          "404": {
            "description": "Job was not found"
          },
          "422": {
            "description": "Validation error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Jobs",
        "x-apiOrder": 60
      }
    },
    "/jobs/{jobId}/notes": {
      "get": {
        "tags": [
          "Job API:Notes"
        ],
        "summary": "Get all notes",
        "operationId": "GetJobOrderNotes",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified job",
            "schema": {
              "$ref": "#/definitions/NoteListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_note",
              "read_job_note"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Notes",
        "x-apiOrder": 90
      },
      "post": {
        "tags": [
          "Job API:Notes"
        ],
        "summary": "Add a note",
        "operationId": "AddJobOrderNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddJobOrderNoteCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NoteModel"
            }
          },
          "404": {
            "description": "Job was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_note",
              "write_job_note"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Notes",
        "x-apiOrder": 90
      }
    },
    "/jobs/fields/custom": {
      "get": {
        "tags": [
          "Job API:Lists"
        ],
        "summary": "Get all custom fields",
        "operationId": "GetJobOrderCustomFieldList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of job custom field definitions",
            "schema": {
              "$ref": "#/definitions/CustomFieldListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/jobs/fields/custom/{fieldId}": {
      "get": {
        "tags": [
          "Job API:Lists"
        ],
        "summary": "Get a custom field",
        "operationId": "GetJobOrderCustomFieldItem",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job custom field definition",
            "schema": {
              "$ref": "#/definitions/CustomFieldRepresentation"
            }
          },
          "404": {
            "description": "Requested job custom field definition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/jobs/lists/attachmentcategory": {
      "get": {
        "tags": [
          "Job API:Attachments"
        ],
        "summary": "Get all attachment categories",
        "operationId": "GetJobOrderAttachmentCategoryList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Other",
                "JobDescription"
              ]
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job attachment categories",
            "schema": {
              "$ref": "#/definitions/JobOrderAttachmentCategoryListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_job"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 100
      }
    },
    "/jobs/lists/notetype": {
      "get": {
        "tags": [
          "Job API:Notes"
        ],
        "summary": "Get all note types",
        "operationId": "GetJobOrderNoteTypeList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of note type definitions",
            "schema": {
              "$ref": "#/definitions/NoteTypeListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_note",
              "read_job_note"
            ]
          }
        ],
        "x-apiName": "Job API",
        "x-apiGroup": "Notes",
        "x-apiOrder": 100
      }
    },
    "/jobs/lists/source": {
      "get": {
        "tags": [
          "Job API:Lists"
        ],
        "summary": "Get all job sources",
        "operationId": "GetJobOrderSourceList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job sources",
            "schema": {
              "$ref": "#/definitions/JobOrderSourceListRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/jobs/lists/status": {
      "get": {
        "tags": [
          "Job API:Lists"
        ],
        "summary": "Get all status definitions",
        "operationId": "GetJobOrderStatusList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "statusId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "default",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job status definitions",
            "schema": {
              "$ref": "#/definitions/StatusListRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/jobs/lists/status/{statusId}": {
      "get": {
        "tags": [
          "Job API:Lists"
        ],
        "summary": "Get a status definition",
        "operationId": "GetJobOrderStatusItem",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job status definition",
            "schema": {
              "$ref": "#/definitions/StatusRepresentation"
            }
          },
          "404": {
            "description": "Requested job status definition was not found",
            "schema": {
              "$ref": "#/definitions/StatusRepresentation"
            }
          }
        },
        "x-apiName": "Job API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/requisitions": {
      "get": {
        "tags": [
          "Requisition API:Requisitions"
        ],
        "summary": "Find requisitions",
        "operationId": "FindRequisitions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "query",
            "description": "Requistion Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Company Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Draft",
                "Submitted",
                "Rejected",
                "Approved"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "hiringManager.contactId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "hiringManager.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "approver.contactId",
            "in": "query",
            "description": "Find requisitions by approver contact id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "approver.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "approver.pending",
            "in": "query",
            "description": "Find requisitions pending approval by contacts specified in approver.contactId",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User Id - search for requisitions by owner or associated recruiter",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ownerUserId",
            "in": "query",
            "description": "User Id - search for requisitions by owner",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "recruiterUserId",
            "in": "query",
            "description": "User Id - search for requisitions by associated recruiters",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Search for jobs created at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Search for jobs updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results by one or multiple fields, prefix with \"-\" to sort descending.<br />\r\nFields available for sorting are: jobTitle, status, createdAt, updatedAt",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "embed",
            "in": "query",
            "description": "Linked resources to embed in the results",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of requisitions matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/RequisitionListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Requisitions",
        "x-apiOrder": 1
      },
      "post": {
        "tags": [
          "Requisition API:Requisitions"
        ],
        "summary": "Add a requisition",
        "operationId": "AddRequisition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRequisitionCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RequisitionRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Requisitions",
        "x-apiOrder": 1
      }
    },
    "/requisitions/{requisitionId}": {
      "get": {
        "tags": [
          "Requisition API:Requisitions"
        ],
        "summary": "Get a requisition",
        "operationId": "GetRequisition",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested requisition details",
            "schema": {
              "$ref": "#/definitions/RequisitionRepresentation"
            }
          },
          "404": {
            "description": "Requested requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Requisitions",
        "x-apiOrder": 1
      },
      "put": {
        "tags": [
          "Requisition API:Requisitions"
        ],
        "summary": "Update a requisition",
        "operationId": "UpdateRequisition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRequisitionCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Requisitions",
        "x-apiOrder": 1
      },
      "delete": {
        "tags": [
          "Requisition API:Requisitions"
        ],
        "summary": "Remove a requisition",
        "operationId": "DeleteRequisition",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Requisitions",
        "x-apiOrder": 1
      }
    },
    "/requisitions/{requisitionId}/attachments/{attachmentType}": {
      "get": {
        "tags": [
          "Requisition API:Attachments"
        ],
        "summary": "Get an attachment",
        "operationId": "GetLatestRequisitionAttachment",
        "consumes": [],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attachmentType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "Other",
              "JobDescription"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Requested requisition attachment",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "Requisition attachment was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 10
      },
      "post": {
        "tags": [
          "Requisition API:Attachments"
        ],
        "summary": "Add an attachment",
        "operationId": "AddRequisitionAttachment",
        "consumes": [
          "multipart/form-data",
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attachmentType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "Other",
              "JobDescription"
            ]
          },
          {
            "name": "fileData",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 10
      },
      "delete": {
        "tags": [
          "Requisition API:Attachments"
        ],
        "summary": "Remove an attachment",
        "operationId": "DeleteRequisitionAttachment",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attachmentType",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "Other",
              "JobDescription"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "404": {
            "description": "Requisition attachment was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Attachments",
        "x-apiOrder": 10
      }
    },
    "/requisitions/{requisitionId}/approve": {
      "put": {
        "tags": [
          "Requisition API:Approval"
        ],
        "summary": "Approve a requisition",
        "operationId": "ApproveRequisition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApproveRequisitionCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Approval",
        "x-apiOrder": 20
      }
    },
    "/requisitions/{requisitionId}/history": {
      "get": {
        "tags": [
          "Requisition API:Approval"
        ],
        "summary": "Get approval history",
        "operationId": "GetRequisitionApprovalHistory",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested requisition approval history",
            "schema": {
              "$ref": "#/definitions/RequisitionHistoryModel"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Approval",
        "x-apiOrder": 20
      }
    },
    "/requisitions/{requisitionId}/reject": {
      "put": {
        "tags": [
          "Requisition API:Approval"
        ],
        "summary": "Reject a requisition",
        "operationId": "RejectRequisition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectRequisitionCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Approval",
        "x-apiOrder": 20
      }
    },
    "/requisitions/{requisitionId}/submit": {
      "put": {
        "tags": [
          "Requisition API:Approval"
        ],
        "summary": "Submit a requisition for approval",
        "operationId": "SubmitRequisition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitRequisitionCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Approval",
        "x-apiOrder": 20
      }
    },
    "/requisitions/{requisitionId}/notes": {
      "get": {
        "tags": [
          "Requisition API:Notes"
        ],
        "summary": "Get requisition notes",
        "operationId": "GetRequisitionNotes",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "description": "Requisition Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes for the specified requisition",
            "schema": {
              "$ref": "#/definitions/NoteListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_note",
              "read_requisition_note"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Notes",
        "x-apiOrder": 90
      },
      "post": {
        "tags": [
          "Requisition API:Notes"
        ],
        "summary": "Add a requisition note",
        "operationId": "AddRequisitionNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "requisitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRequisitionNoteCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NoteModel"
            }
          },
          "404": {
            "description": "Requisition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_note",
              "write_requisition_note"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Notes",
        "x-apiOrder": 90
      }
    },
    "/requisitions/fields/custom": {
      "get": {
        "tags": [
          "Requisition API:Lists"
        ],
        "summary": "Get all custom fields",
        "operationId": "GetRequisitionCustomFieldList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of requisition custom field definitions",
            "schema": {
              "$ref": "#/definitions/CustomFieldListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/requisitions/fields/custom/{fieldId}": {
      "get": {
        "tags": [
          "Requisition API:Lists"
        ],
        "summary": "Get a custom field",
        "operationId": "GetRequisitionCustomFieldItem",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested requisition custom field definition",
            "schema": {
              "$ref": "#/definitions/CustomFieldRepresentation"
            }
          },
          "404": {
            "description": "Requested requisition custom field definition was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_requisition"
            ]
          }
        ],
        "x-apiName": "Requisition API",
        "x-apiGroup": "Lists",
        "x-apiOrder": 100
      }
    },
    "/jobads": {
      "get": {
        "tags": [
          "Job Ad API:Job Ads"
        ],
        "summary": "Find job ads",
        "operationId": "GetJobAds",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "partnerAction.actionId",
            "in": "query",
            "description": "Unique identifier for partner actions",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.reference",
            "in": "query",
            "description": "Partner supplied unique reference for the action",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.stage",
            "in": "query",
            "description": "Include partner actions at a specific stage",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Submitted",
                "InProgress",
                "Completed",
                "Rejected",
                "Cancelled"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "partnerAction.submittedAt",
            "in": "query",
            "description": "Search for entities submitted to an action at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to include with the results.\r\nFields available to include are: partnerActions",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "List of job ads matching the specified criteria",
            "schema": {
              "$ref": "#/definitions/JobAdListRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad"
            ]
          }
        ],
        "x-apiName": "Job Ad API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 100
      },
      "post": {
        "tags": [
          "Job Ad API:Job Ads"
        ],
        "summary": "Add a draft job ad",
        "operationId": "AddJobAdDraft",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddJobAdDraftCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobAdRepresentation"
            }
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_jobad"
            ]
          }
        ],
        "x-apiName": "Job Ad API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 100
      }
    },
    "/jobads/{adId}": {
      "get": {
        "tags": [
          "Job Ad API:Job Ads"
        ],
        "summary": "Get a job ad",
        "operationId": "GetJobAd",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "description": "Job Ad Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested job ad details",
            "schema": {
              "$ref": "#/definitions/JobAdRepresentation"
            }
          },
          "404": {
            "description": "Requested job ad was not found"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "read",
              "read_jobad"
            ]
          }
        ],
        "x-apiName": "Job Ad API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 100
      },
      "put": {
        "tags": [
          "Job Ad API:Job Ads"
        ],
        "summary": "Update a draft job ad",
        "operationId": "UpdateJobAdDraft",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "adId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobAdDraftCommand"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "jobadder_identity": [
              "write",
              "write_jobad"
            ]
          }
        ],
        "x-apiName": "Job Ad API",
        "x-apiGroup": "Job Ads",
        "x-apiOrder": 100
      }
    },
    "/candidates": {
      "get": {
        "tags": [
          "Candidate API:Candidates"
        ],
        "summary": "Find candidates",
        "operationId": "FindCandidates",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "query",
            "description": "Candidate Id",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Candidate name",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Candidate email",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Candidate phone or mobile number",
            "required": false,
            "type": "string"
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Search for key words within the latest candidate resume",
            "required": false,
            "type": "string"
          },
          {
            "name": "partnerAction.actionId",
            "in": "query",
            "description": "Unique identifier for partner actions",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.reference",
            "in": "query",
            "description": "Partner supplied unique reference for the action",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partnerAction.stage",
            "in": "query",
            "description": "Include partner actions at a specific stage",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Submitted",
                "InProgress",
                "Completed",
                "Rejected",
                "Cancelled"
              ]
            },
            "collectionFormat": "csv"
          },
          {
            "name": "partnerAction.submittedAt",
            "in": "query",
            "description": "Search for entities submitted to an action at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statusId",
            "in": "query",
            "description": "Candidate status",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "recruiterUserId",
            "in": "query",
            "description": "User Id - search candidates by associated recruiters",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Search for candidates created at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Search for candidates updated at a specific date and time \r\n(UTC assumed, [ISO date-time](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#rfc.section.5.6)). \r\nPrefix with <code>&lt;</code> or <code>&gt;</code> to search dates before or after (inclusive) the specified date and time.\r\nSpecify multiple times to search for a range.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results by one or multiple fields, prefix with \"-\" to sort descending.<br />\r\nFields available for sorting are: firstName, lastName, status.name, createdAt, updatedAt",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to include with the results.\r\nFields available to include are: recruiters, statistics",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The index of the first entry to return from the resource collection",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return.<br />\r\nSetting to 0 will return only the total count of matching resources.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
[...]
